.App {
  text-align: center;
}

.section_heading {
  display: flex;
  align-items: center;
  position: relative;
    margin: 20px 0px 40px 0px;
}

.section_heading img {
  margin-right: 10px;
}

.gallery_item {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.gallery_item img {
  display: block;
  width: 500px;
  height: 500px;
  object-fit: cover;
  transition: all 0.3s ease;
}

@media (max-width: 767px) {
  .gallery_item img {
    width: 100%;
    height: auto;
  }
}

.gallery_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgba(230, 131, 131, 0.4);
  transition: opacity 0.5s ease;
}

.gallery_overlay a {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery_item:hover .gallery_overlay {
  opacity: 1;
}

.gallery_item:hover .gallery_overlay a {
  opacity: 1;
}

.gallery_overlay img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.modal-image {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-container {
  max-width: 90%;
  max-height: 90%;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.custom-flex-container {
  justify-content: center;
  display: flex;
  position: absolute;
  left: 25%;
  top: 2%;
}
.headingSpan{
  position: absolute;
    top: -3rem;
    left: -3rem;
}